{% extends './base.html' %}



{% load widget_tweaks %}

{% block content %}
   
<div class="container mt-2">
    <h4 style="color:darkorange" class="text-center pt-5"> WELCOME TO PRIME AFRICA TECHNOLOGIES DASHBOARD FOR STUDENT'S PAYMENT</h4>
    
   
    

    <div class="row">
        <div class="col-md-6">


            <div class="container pt-5">
                <!-- <h5 class="mt-2">DIRECTOR OF PRIME AFRICA TECHNOLOGIES</h5> -->
                <div class="row">



                    <!-- <div class="col-md-7">

                        <img src="../Prime.jpg" alt="" style="width: 390px; height: 470px"
                            class='img-fluid rounded' data-aos="fade-up" />
                    </div> -->
                    <div class="col-md-5" data-aos="fade-up">

                        <div class='bg-red text-center'></div>
                        <div class="pt-3" data-aos="fade-up">
                            <p>Contact Us when you find it difficult to deposite.

                                <br></br><span class='text-danger1' style="font-Weight: bold;">Reach Us on:
                                    +2348141274777, WhatsApp: +2348141274777</span>
                            </p>

                        </div>
                    </div>

                </div>
            </div>





        </div>




        <div class="col-md-6">

            <form action="." method="POST">
                {% csrf_token %}



                <div class="container pt-5">
                     <!-- <h5 class="mt-2">ADD YOUR SUPPORT HERE "No amount is small"</h5> -->
                     <h6>Please ensure to enter the exact <span
                        style="border-radius: 5px; background-color: black; color:#88ff00; font-size: 15px;">
                        <em>Course Price</em></span>  specified in the last page (Registration Page) for your chosen Course to avoid loss of your fund and Wrong Registration!</h6>
                     <div class="d-flex mt-3">

                        <div class="mb-3">
                            <div class="me-1">
                            <label style="font-size: 20px;" for="">Full Name</label>
                            <div>{% render_field payment_form.name class="form-control" %}
                            </div>
                        </div>
                    </div>

                        <div class="mb-3">
                            <label style="font-size: 20px;" for="">Enter Your Course Name</label>
                            <div>{% render_field payment_form.course_name class="form-control" %}
                            </div>
                        </div>
                    </div> 
                        <div class="d-flex mt-2">
                            <div class="me-1">
                            <label style="font-size: 20px;" for="">Enter Course Price </label>
                           
                            <div> {% render_field payment_form.amount class="form-control" %}</div>
                        </div>

                    
                        <div class="mb-3">
                            <label style="font-size: 20px;" for="">Emaill Address(Optional)</label>
                            <div>{% render_field payment_form.email class="form-control" %}
                            </div>
                        </div>
                        </div>



                   

                    <div class="d-flex">
                        <div class="me-1">
                            <label style="font-size: 20px;" for="">Your Address</label>
                            <div> {% render_field payment_form.creditors_address class="form-control"%} </div>
                        </div>


                        <div class="mb-3">
                            <label style="font-size: 20px;" for="">Valid Phone Number</label>
                            <div> {% render_field payment_form.phone class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label style="font-size: 20px;" for="">Send Us a short Message(Optional)</label>
                        <div> {% render_field payment_form.message class="form-control" %}
                        </div>
                    </div>
                   

                    <!-- <div class="mt-2">
                        <label style="font-size: 20px;" for="">Leave Us a short Message(Optional)</label>
                        <div id="" style="width: 350px;" cols="30" rows="4" placeholder="(Optional)"> 
                            {% render_field payment_form.message class="form-control" %}</div>

                    </div>  -->



                    <input class="btn btn-danger " type="submit" value="Proceed to Payment &#8594;">

                    <br></br> <br></br><br></br>

                </div>


            </form>


        </div>
        

        <div class="text-center">

            <a href="http://localhost:5173/" class="btn btn-danger"><i class="fa fa-arrow-left ms-3 me-3"></i>Back to Home</a>
        </div>

    </div>
    <br></br>

    <style>
        .btn-danger {
            background-color: darkorange !important;

        }
h6{
    color: red;
}
        .btn-danger:hover {
            color: blue !important;
        }
    </style>



</div>

{% endblock content %}




















